@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #99BC9D;
  --foreground: #171717;
  height: 100%
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #EAE0C7;
    height: 100%
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}
